@font-face {
  font-family: 'triforce';
  src: url('/fonts/Triforce.ttf');
}
.bckgrd-landing {
  background-image: url('/images/master.jpg');
}
.bckgrd-results {
  background-image: url('/images/search-back.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bckgrd-fail {
  background-image: url('/images/error.png');
  background-color: red;

}

/* LANDING PAGE */
#title {
  margin-bottom: .25em;
  font-size: 5em;
  font-family: 'triforce';
  color: #E0DD0B;
}
.wrapper {
  width: 100%;
  height: 100%
}
.content-center {
  text-align: center;
  margin-top: 20%;
}
.search-form {
  width: 100%;
  margin: 0 auto;
}
.search-box {
  width: 250px;
  height: 30px;
  padding: 5px 2px;
}
.search-link {
  font-family: 'triforce';
  margin-top: 1em;
  color: white;
  padding: 0px;
}
.search-link:hover {
  color: #E0DD0B;
  text-decoration: none;
}


/* RESULTS PAGE */
#fail {
  background-color: white;
  opacity: .40;
  min-width: 15%;
  max-width: 20%;
  margin: auto;
  margin-top: 23%;
}
.fnt-clr {
  color: white;
}
.fnt-head-clr {
  color: #E0DD0B;
  font-weight: bold;
}
.result-container {
  text-align: center;
}
.result-font {
  font-family: sans-serif;
}
.return {
  font-family: 'triforce';
  font-size: 5em;
  color: white;
}
.return:hover {
  text-decoration: none;
  color: black;
}

