<div class="errors">
  <h1>Ya dun guffed!</h1>
  Try one of these...
  <br>
  <%if @data.body["possibleChoices"].empty? == false %>
    <% @data.body["possibleChoices"].each do |choice| %>
    <%= choice  %>
    <br>
    <%end%>
  <%else%>
    No suggestions here. Maybe try a different search?
    <br>
  <% end %>
  <a href='/'>Play the Song of Time</a>
</div>