<body class="bckgrd-fail">
  <div class="errors-container">
    <div class="error content-center fnt-clr">
      Try one of these...
      <br>
      <%if @data.body["possibleChoices"].empty? == false %>
        <% @data.body["possibleChoices"].each do |choice| %>
        <%= choice  %>
        <br>
        <%end%>
      <%else%>
        No suggestions here. Maybe try a different search?
        <br>
      <% end %>
      <a href='/'>Play the Song of Time</a>
    </div>
  </div>
  <audio autoplay>
  <source src="sounds/ganon.mp3" type="audio/mpeg">
</audio>
</body>