<main class="container wrapper">
  <div class="center">
     <form action="/searches" method="post" class="search-form">
        <input type="text" name="console" placeholder="console" class="search-box">
        <input type="text" name="game_name" placeholder="game name" class="search-box">
      <div>
        <button>Search Bag</button>
      </div>
     </form>
  </div>
</main>